bin
obj
*.chm
_[Rr]e[Ss]harper.*
*.csproj.user
*.[Rr]e[Ss]harper.user
*.[Rr]e[Ss]harper
*.suo
*.cache
*~
*.sql
*.swp
*.swo
local_properties.rb
/product/docs/Help/*.*
artifacts
UpgradeLog.XML
_UpgradeReport_Files
